<h1>ingredients in <%= @recipe.name %></h1>

<ul>
  <% @recipe.ingredients.each() do |ingredient| %>
  <li><a href="/ingredient/<%= ingredient.id() %>"><%= ingredient.name() %></a></li>
  <% end %>
</ul>


  <form action="/recipes/<%= @recipe.id() %>/new" method="post">
  <fieldset>
    <span class="help-block">add ingredients</span>
    <div class="form-group">
      <div class="col-lg-10">
        <input type="text" class="form-control" id="name" name="name" placeholder="ingredient">
        <br>
      </div>
    </div>
  </fieldset>

  <button class="btn btn-success">add to <%= @recipe.name %></button>
  </form>
<br>
  <form action="/recipes/<%= @recipe.id() %>" method="post">
    <input name="_method" type="hidden" value="patch">
    <input id="name" name="name" type="text">
    <button type="submit" class="btn btn-info btn-xs">Rename <%=@recipe.name() %></button>
  </form>

  <br>
  <form action='/recipes/<%= @recipe.id() %>/delete' method='post'>
    <input type="hidden" name='_method' value='delete'>
    <button type='submit' class="btn btn-warning btn-xs">DELETE <%= @recipe.name %></button>
  </form>

  <br>
  <a href="/" class="btn btn-info btn-xs">Back to Categories</a>
